html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

hr {
  background-color: #f67c92;
}

.navbar {
  background-color: #f67c92;
}

.social {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.footer {
  border-radius: 2px;
}
